#skills-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

h3.skills-title {
  font-size: 2rem;
  color: var(--title-color);
  font-family: var(--font-family-terry);
  margin-bottom: var(--medium-margin);
  font-weight: 400;

  text-align: center;
}

.skills-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  margin-top: 1.5rem;
  height: 100;
  width: 100px;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 170px;
}
