#skills-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

h3.skills-title {
  font-size: 3rem;
  color: var(--title-color);
  font-family: var(--font-family-terry);
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.skills-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  height: 180px;
}

.skill-card {
  margin-bottom: 3rem;
  height: 70px;
  width: 70px;
  align-items: flex-start;
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 130px;
}
