.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium-padding);
  gap: var(--medium-gap);
}
.header {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: var(--xsmall-gap);
}

.header-info h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary-color);
  font-family: var(--font-family-tertiary);
}

.header-info p {
  font-size: 1rem;
  color: var(--text-color);
  font-style: italic;
  margin-top: 5px;
  font-family: 'Inter', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: var(--medium-gap);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.5px;
}

nav a:visited {
  color: var(--text-color);
}
nav a:hover {
  color: var(--other-color-3);
}
